<div class="container-about">
   <div class="d-sm-flex align-items-center justify-content-between">
      <h3 id="about-head">
         <span class="text-danger">
            Globes -
         </span>
         <span class="text-success">
            Bringing Quality Travel Services... At Affordable Prices To You
         </span>
      </h3>
   </div>
   <div>
      <p class="lead my-4" id="about-body">No matter who you are, or where you are going, our travel brands help every
         type of traveler not only find the trip that's right for them, but get the best value every time. We connect
         your family, friends and you to the universe of travels, giving access to data, tools and technology that
         empowers and maximizes your travel experiences.
         <br>
         <br>
         Our employees are dedicated to providing you with nothing but the very best serives, because...
         <strong>
            without you, there is no us.
         </strong>
         Our collaborations with you, helps streamline and focus our services and processes, which in turn saves you
         money and time, and avoid miscommunications that can lead to errors.
      </p>
   </div>
</div>