<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Globes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" routerLink="/home" [skipLocationChange]="true">
                  HOME
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/about" [skipLocationChange]="true">
                  ABOUT
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" routerLink="/contact" [skipLocationChange]="true">
                  CONTACTS
               </a>
            </li>
            <div *ngIf="loggedIn">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        USERS
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                           <a class="dropdown-item" routerLink="/users" [skipLocationChange]="true">
                              <strong>ListOf Users</strong>
                           </a>
                        </li>
                        <li>
                           <a class="dropdown-item" routerLink="/users/create" [skipLocationChange]="true">
                              <strong>Create User</strong>
                           </a>
                        </li>
                        <li>
                           <a class="dropdown-item" routerLink="/users/view" [skipLocationChange]="true">
                              <strong>User Details</strong>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" routerLink="/products" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" routerLinkActive>
                        PRODUCTS
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                           <a class="dropdown-item" routerLink="/products/categories" [skipLocationChange]="true">
                              <strong> Rides </strong>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" routerLink="#" [skipLocationChange]="true">
                        SHIPMENTS
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" routerLink="/payment" [skipLocationChange]="true">
                        PAYMENTS
                     </a>
                  </li>
               </ul>
            </div>
            <ul class="navbar-nav ml-auto mr-20">
               <div *ngIf="!loggedIn">
                  <ul class="navbar-nav ml-auto mr-20">
                     <li class="nav-item">
                        <a class="nav-link" routerLink="/booking" [skipLocationChange]="true">
                           BOOKINGS
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" routerLink="/orders" [skipLocationChange]="true">
                           SIGNUP
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" routerLink="/client" [skipLocationChange]="true">
                           <strong>CLIENT </strong>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" routerLink="/driver" [skipLocationChange]="true">
                           <strong>DRIVER</strong>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" routerLink="/admin" [skipLocationChange]="true">
                           <strong>ADMIN</strong>
                        </a>
                     </li>
                  </ul>
               </div>
               <div *ngIf="loggedInClient">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>CLIENT ACCT</strong>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/auth/newregister" [skipLocationChange]="true">
                           <strong>Create Clients</strong>
                        </a>
                        <a class="dropdown-item" routerLink="/auth/newpasswd" [skipLocationChange]="true">
                           <strong>New Password</strong>
                        </a>
                        <a class="dropdown-item" routerLink="#" (click)="logoutClient()" [skipLocationChange]="true">
                           <strong>Client Signout</strong>
                        </a>
                     </div>
                  </li>
               </div>
               <div *ngIf="loggedInDriver">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>DRIVER ACCT</strong>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/auth/newregister" [skipLocationChange]="true">
                           <strong>Create Drivers</strong>
                        </a>
                        <a class="dropdown-item" routerLink="/auth/newpasswd" [skipLocationChange]="true">
                           <strong>New Password</strong>
                        </a>
                        <a class="dropdown-item" routerLink="#" (click)="logoutDriver()" [skipLocationChange]="true">
                           <strong>Driver Signout</strong>
                        </a>
                     </div>
                  </li>
               </div>
               <!-- <div *ngIf="loggedInAdmin"> -->
               <ul class="navbar-nav ml-auto mr-20">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        CABS MGT
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/cab" [skipLocationChange]="true">
                           <strong>ListOf Cabs</strong>
                        </a>
                        <a class="dropdown-item" routerLink="/cab/cabrequest" [skipLocationChange]="true">
                           <strong>Cab Orders</strong>
                        </a>
                        <a class="dropdown-item" routerLink="/cab/cabcategory" [skipLocationChange]="true">
                           <strong>TypeOf Cab</strong>
                        </a>
                     </div>
                  </li>
                  <li>
                     <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">SEARCH</button>
                     </form>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>ADMIN ACCT</strong>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/auth/newregister" [skipLocationChange]="true">
                           <strong>Create Admins</strong>
                        </a>
                        <a class="dropdown-item" routerLink="/auth/newpasswd" [skipLocationChange]="true">
                           <strong>New Password</strong>
                        </a>
                        <a class="dropdown-item" routerLink="#" (click)="logoutAdmin()" [skipLocationChange]="true">
                           <strong>Admin Signout</strong>
                        </a>
                     </div>
                  </li>
               </ul>
               <!-- </div> -->
            </ul>
         </ul>
      </div>
   </div>
</nav>



<!-- 
<li>
   <a class="dropdown-item" routerLink="/products/create" [skipLocationChange]="true">
      Create Products
   </a>
</li>
<li>
   <a class="dropdown-item" routerLink="/products/update" [skipLocationChange]="true">
      Update Product
   </a>
</li>
<li>
   <a class="dropdown-item" routerLink="/products/view" [skipLocationChange]="true">
      Products Details
   </a>
</li>
-->


<!-- <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" routerLink="/cab/listofcabs" role="button"
      data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive>
      CABS MGT
   </a>
   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
         <a class="dropdown-item" routerLink="/cab/listofcabs" [skipLocationChange]="true">
            <strong>ListOf Cabs</strong>
         </a>
      </li>
      <li>
         <a class="dropdown-item" routerLink="/cab/cabrequest" [skipLocationChange]="true">
            <strong> Cab Requests </strong>
         </a>
      </li>
   </ul>
</li> -->


<!-- <li class="nav-item">
   <a class="nav-link" routerLink="/orders" [skipLocationChange]="true">
      BOOKING
   </a>
</li> -->
<!-- <li class="nav-item">
   <a class="nav-link" routerLink="/orders" [skipLocationChange]="true">
      SIGNUP
   </a>
</li> -->


<!-- <div *ngIf="loggedIn">
   <li>
      <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-light" type="submit">SEARCH</button>
      </form>
   </li>
</div> -->


<!-- <li>
   <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">SEARCH</button>
   </form>
</li> -->