.bg-dark {
   background-color: #0c0d0d !important;
}


.navbar {
   padding: 0.7rem 1rem;
}

/* 
.navbar {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: .5rem 1rem;
}
*/