#bg {
   background: linear-gradient(to bottom right, #535558, #060606);
   /* standard syntax must be last */
}


.form-group .input-group .input[type="text"] :focus {
   border: none !important;
   outline: none !important;
}


.card {
   border: 1px solid rgb(0 0 0);
   border-radius: 0rem;
}


/*
.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, .125);
   border-radius: .25rem;
}
*/